a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-header__container{
    display: flex;
    justify-content: space-between;
}

.bottom-header__container {
    display: flex;
}

.header-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-link {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}