body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0 15rem;
    gap: 3rem;
}

.up-header__container{
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
    gap: 46.5rem;
}

.bottom-header__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    gap: 2rem;
}

.header-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-self: flex-start;
}

.header-link {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.header-img__container {
    background: url(./assets/img/space.jpg) no-repeat center / cover;
    flex: 1;
}

.header-logo__container  h3{
    font-size: 24px;
}

.header-link a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-info__container h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

button{
    width: 6rem;
    height: 2rem;
    background-color: #3882F6;
}

button a {
    color: #F9FAF8;
    font-weight: bold;
}


.main-info__section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 1.5rem;
}

.card__list{
    display:flex;
    flex-wrap: wrap;
    gap: 3.5rem;

}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    border: 0.25rem solid #3882F6;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}

.card__info {
    width: 10rem;
    text-align: center;
    font-weight: 100;
}

.main-info__section h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote__section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 30rem;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}