body {
    font-family: 'Roboto' sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0 15rem;
}

.up-header__container{
    display: flex;
    justify-content: space-between;
}

.bottom-header__container {
    display: flex;
    justify-content: space-between;
}

.header-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-link {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.header-img__container {
    width: 25rem;
    height: 20rem;
    background: url(./assets/img/space.jpg) no-repeat center / cover;
}

.header-logo__container  h3{
    font-size: 24px;
}

.header-link a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-info__container h2 {
    font-size: 48px;
    font-weight: bolder;
}

button{
    width: 6rem;
    height: 2rem;
    background-color: #3882F6;
}

button a {
    color: #F9FAF8;
    font-weight: bold;
}


